[submodule "ocurrent"]
	path = ocurrent
	url = git://github.com/kit-ty-kate/ocurrent.git
	branch = opam-ci
[submodule "ocluster"]
	path = ocluster
	url = https://github.com/ocurrent/ocluster.git
[submodule "ocaml-dockerfile"]
	path = ocaml-dockerfile
	url = git://github.com/avsm/ocaml-dockerfile.git
